* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* background-color: chartreuse; */
}

.top {
  height: 600px;
  background: rgb(8, 3, 82);
  text-align: center;
  color: white;
}

.title-top {
  padding-top: 70px;
  font-size: 50px;
}

.title-desc-top {
  margin: 0 auto;
  width: 600px;
  margin-top: 20px;
}

.bottom {
  height: 600px;
  background: #efefef;
  text-align: center;
  color: rgb(128, 128, 128);
}

.title-bottom {
  padding-top: 300px;
  font-size: 25px;
}

.desc-bottom {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: start;
}

.item-desc {
  margin-top: 100px;
  width: 360px;
}

.item-desc p {
  margin-top: 10px;
}

.cards-item {
  width: 70%;
  margin: 45% 15% 0 15%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.card {
  margin: 0 5px;
  width: 230px;
  height: 300px;
  background: white;
  border-radius: 3px;
  box-shadow: 1px 3px 5px black;
  transform: scale(1);
  transition: 0.5s;
}

.card:hover {
  transform: scale(1.1);
  /* width: 330px;
    height: 400px; */
}

.title-card {
  width: 100%;
  background: rgb(65, 65, 65);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-card p {
  padding: 10px;
  color: #fff;
}

.title-discount {
  font-size: 13px;
  font-weight: bold;
}

.price-card {
  background: #fff;
  height: 120px;
  width: 170px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid rgb(77, 75, 75);
}

.sub-price-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 80px;
}

.currency-price {
  align-self: flex-start;
  font-size: 20px;
  color: rgb(181, 181, 181);
}

.number-price {
  font-size: 90px;
}

.month-price {
  align-self: flex-end;
  color: rgb(181, 181, 181);
}

.desc-card {
  width: 170px;
  margin: auto;
  /* background-color: red; */
  padding: 20px 0;
}

.desc-card ul li {
  list-style: none;
  font-size: 12px;
  font-weight: bold;
}

.desc-card ul li span {
  color: rgb(104, 102, 102);
  font-weight: normal;
}

.btn-card {
  display: flex;
  justify-content: center;
}

.btn-card a {
  text-align: center;
  text-decoration: none;
  width: 100px;
  padding: 3px 0;
  color: white;
  background: rgb(34, 163, 202);
  border: none;
  border-radius: 3px;
  font-size: 13px;
}

.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 1s;
}

.overlay:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
}

.success {
  width: 500px;
  height: 300px;
  margin: 150px auto;
  background: white;
  position: relative;
}

.success h1 {
  text-align: center;
  line-height: 300px;
}

.close {
  position: absolute;
  top: 0;
  margin-top: -20px;
  right: 0;
}

.close a {
  color: white;
}
